*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #212121;
}
.card{
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    text-align: center;
    padding: 40px 35px;
    border-radius: 20px;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #fff;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    flex: 1;
    height: 60px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    background: #00f2fe;
    padding: 10px 25px;
    font-size: 18px;
    margin: 0 16px 0 0;
    color: #555;
}
.search-box button{
    width: 60px;
    height: 60px;
    background: #4facfe;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}
.search-icon{
    width: 20px;
}
.error{
    display: none;
}
.error p{
    text-align: left;
    margin-top: 20px;
    color: red;
    font-weight: 600;
    font-size: large;
}
.weather{
    display: none;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px;
    margin-top: 50px;
}
.data-col{
    display: flex;
    align-items: center;
    text-align: left;
}
.data-col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}